/* Variables */
html {
  background-color: black;
}

body {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 0px;
  font-family: "Nunito Sans", sans-serif;
  width: 1000px;
  margin: auto;
  overflow-x: hidden;
  background-color: white;
}

header .header__logo {
  width: 300px;
  border: 2px dashed #ddd;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: 50px;
  -webkit-animation: logoMove 840ms 1 linear;
          animation: logoMove 840ms 1 linear;
}

@-webkit-keyframes logoMove {
  0% {
    position: relative;
    left: 2500px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}

@keyframes logoMove {
  0% {
    position: relative;
    left: 2500px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}

header .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 30px;
  width: 430px;
  -webkit-animation: navMove 800ms 1 linear;
          animation: navMove 800ms 1 linear;
}

header .header__list .header__url {
  list-style-type: none;
  text-decoration: none;
}

header .header__list .header__item {
  margin-right: 20px;
  margin-left: 20px;
  color: black;
  font-size: 19px;
  font-weight: bold;
}

header .header__list .header__item:hover {
  color: #de2814;
}

@-webkit-keyframes navMove {
  0% {
    position: relative;
    left: 2500px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}

@keyframes navMove {
  0% {
    position: relative;
    left: 2500px;
  }
  100% {
    position: relative;
    left: 0px;
  }
}

header .header__button {
  background-color: black;
  color: white;
  padding: 12px;
  font-size: 22px;
  border-radius: 50px;
  width: 250px;
  margin: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  border: none;
}

header .header__button:hover {
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
  background-color: #de2814;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  -webkit-transform: scaleX(0.95);
          transform: scaleX(0.95);
}

header .header__button:focus {
  border: none;
  outline: none;
}

/*! Main */
main {
  border-top: 11px solid black;
}

/*! Footer */
.footer {
  background-color: silver;
  padding-top: 25px;
}

.footer .footer__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer .footer__containers {
  width: 250px;
  height: 250px;
}

.footer .footer__containers .footer__number {
  text-align: center;
  font-weight: 800;
  margin-top: 90px;
  font-size: 25px;
  margin-bottom: 0;
}

.footer .footer__containers .footer__email {
  font-weight: 800;
  font-size: 18px;
  color: black;
  display: block;
  text-align: center;
}

.footer .footer__containers .footer__hours {
  text-align: center;
  font-weight: 800;
  margin-top: 30px;
}

.footer .footer__containers .footer__times {
  margin-left: 16px;
  font-weight: 800;
}

.footer .footer__containers .footer__notice {
  font-weight: 800;
  text-align: center;
}

.footer .footer__containers .footer__url {
  text-decoration: none;
  color: black;
  display: block;
  -webkit-transform: translate(100px, 70px);
          transform: translate(100px, 70px);
  font-size: 18px;
  font-weight: 800;
}

.footer .footer__containers .footer__url:hover {
  color: #de2814;
}

.footer .footer__containers .footer__address {
  text-align: center;
  margin-top: 80px;
  font-weight: 800;
}

.footer .footer__button {
  background-color: black;
  color: white;
  padding: 12px;
  font-size: 22px;
  border-radius: 50px;
  width: 250px;
  margin: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  border: none;
}

.footer .footer__button:hover {
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
  background-color: #de2814;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  -webkit-transform: scaleX(0.95);
          transform: scaleX(0.95);
}

.footer .footer__button:focus {
  border: none;
  outline: none;
}

.footer .fc1, .footer .fc2, .footer .fc3 {
  border-right: 3px solid black;
}

.footer .footer__map {
  margin: auto;
  display: block;
  padding-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  body {
    width: 100%;
  }
  header .header__logo {
    width: 250px;
  }
  .footer .footer__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 500px;
    margin: auto;
  }
  .footer .footer__top .fc1, .footer .footer__top .fc2, .footer .footer__top .fc3, .footer .footer__top .fc4 {
    border: 1px solid black;
  }
  .footer .footer__top .footer__address {
    margin-top: 90px;
  }
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  header .header__logo {
    width: 150px;
  }
  header .header__list {
    width: 320px;
  }
  header .header__list .header__item {
    margin: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    margin-left: 10px;
  }
  .footer .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 250px;
  }
  .footer .footer__top .fc1, .footer .footer__top .fc2, .footer .footer__top .fc3, .footer .footer__top .fc4 {
    border: 1px solid black;
    margin-top: 20px;
  }
  .footer .footer__top .footer__address {
    margin-top: 90px;
  }
}
/*# sourceMappingURL=policies.css.map */